.response-card {
    margin-bottom: 5px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    transition: opacity 1s ease;
    
    &__container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }

    &__label {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: left;
    }

    &__text {
        grid-area: 1 / 2 / 2 / 3;
        text-align: left;
    }

    &__response {
        padding-top: 5px;
        border-top: 2px solid cyan;
    }
}